# DSCI 503 - Project 01
### Christopher Hinton

# Introduction
In this project I will work with the gapminder dataset.  This dataset contains data from 184 countries collect from 1800 to 2018.

In [1]:
import pandas as pd
df = pd.read_csv('gapminder_data.txt', sep='\t')
df.head(10)

,country,year,continent,population,life_exp,gdp_per_cap,gini
0,Afghanistan,1800,asia,3280000,28.2,603,30.5
1,Albania,1800,europe,410000,35.4,667,38.9
2,Algeria,1800,africa,2500000,28.8,715,56.2
3,Angola,1800,africa,1570000,27.0,618,57.2
4,Antigua and Barbuda,1800,americas,37000,33.5,757,40.0
5,Argentina,1800,americas,534000,33.2,1510,47.7
6,Armenia,1800,europe,413000,34.0,514,31.5
7,Australia,1800,asia,351000,34.0,814,38.7
8,Austria,1800,europe,3210000,34.4,1850,33.4
9,Azerbaijan,1800,europe,880000,29.2,775,70.5

In [2]:
country = df.country.to_list()
continent = df.continent.to_list()
year = df.year.to_list()
population = df.population.to_list()
life_exp = df.life_exp.to_list()
pcgdp = df.gdp_per_cap.to_list()
gini = df.gini.to_list()

In [3]:
N = 34678
print('Country: ', country[N])
print('Continent: ', continent[N])
print('Year: ', year[N])
print('Population: ', population[N])
print('Life Expectancy: ', life_exp[N])
print('Per Capita GDP: ', pcgdp[N])
print('Gini Index: ', gini[N])

Country:  Kuwait
Continent:  asia
Year:  1988
Population:  2040000
Life Expectancy:  75.0
Per Capita GDP:  40200
Gini Index:  40.0

# Part 1: Display Past 20 Years of US Data
I will disolay the past 20 years of data in the US, by year.

In [4]:
# Loop through data lists for all records of US from 1999 to 2018.
print(f"Year    Country          Population   LExp    pcGDP  Gini")
print(f"---------------------------------------------------------")
for i in range(len(country)):
    if country[i] == "United States":
        if year[i] >= 1999:
            print(f"{year[i]}    {country[i]}    {population[i]}    {life_exp[i]}    {pcgdp[i]}  {gini[i]}")

Year    Country          Population   LExp    pcGDP  Gini
---------------------------------------------------------
1999    United States    279000000    76.8    44700  40.5
2000    United States    282000000    76.9    46000  40.5
2001    United States    285000000    77.0    46000  40.5
2002    United States    288000000    77.1    46400  40.5
2003    United States    290000000    77.3    47300  40.5
2004    United States    293000000    77.5    48600  40.6
2005    United States    295000000    77.7    49800  40.7
2006    United States    298000000    77.9    50600  40.8
2007    United States    301000000    78.1    51000  40.8
2008    United States    303000000    78.3    50400  40.8
2009    United States    306000000    78.6    48600  40.7
2010    United States    309000000    78.7    49400  40.7
2011    United States    311000000    78.8    49800  40.7
2012    United States    313000000    78.9    50500  40.8
2013    United States    316000000    78.9    51000  41.0
2014    United States    318000000    78.9    51800  41.2
2015    United States    320000000    78.8    52800  41.3
2016    United States    322000000    78.8    53300  41.4
2017    United States    324000000    79.0    54200  41.5
2018    United States    327000000    79.1    54900  41.5

# Part 2: Selecting the 2018 Data
I will explore the data from 2018 by creating new lists specifically for 2018 data.  
Then I will calculate the worlds population.

In [5]:
# Create empty lists to house 2018 data
country_2018 = []
population_2018 = []
continent_2018 = []
life_exp_2018 = []
pcgdp_2018 = []
gini_2018 = []

# Iterate through original list and append items to 2018 lists
for i in range(len(year)):
    if year[i] == 2018:
        country_2018.append(country[i])
        population_2018.append(population[i])
        continent_2018.append(continent[i])
        life_exp_2018.append(life_exp[i])
        pcgdp_2018.append(pcgdp[i])
        gini_2018.append(gini[i])

In [6]:
global_population_2018 = sum(population_2018)
print(f"The global population in 2018 was {global_population_2018}.")

The global population in 2018 was 7595200200.

# Part 3: Identifying Countries with Largest and Smallest Populations 
I will be printing the 10 countries with the largest population in 2018.
Then print the 10 countries with the smallest populations in 2018.

In [7]:
# Print data for 10 countries with the largest population
sorted_population_2018_desc = sorted(population_2018, reverse=True)
sorted_top_ten_list = sorted_population_2018_desc[:10]
print("Countries with Largest Populations in 2018")
print("------------------------------------------------------")
for i in range(len(sorted_top_ten_list)):
    for j in range(len(population)):
        if sorted_top_ten_list[i] == population[j] and year[j] == 2018:
            print(f"The population of {country[j]} in 2018 was {sorted_top_ten_list[i]}.")

Countries with Largest Populations in 2018
------------------------------------------------------
The population of China in 2018 was 1420000000.
The population of India in 2018 was 1350000000.
The population of United States in 2018 was 327000000.
The population of Indonesia in 2018 was 267000000.
The population of Brazil in 2018 was 211000000.
The population of Pakistan in 2018 was 201000000.
The population of Nigeria in 2018 was 196000000.
The population of Bangladesh in 2018 was 166000000.
The population of Russia in 2018 was 144000000.
The population of Mexico in 2018 was 131000000.

In [8]:
# Print data for 10 countries with the smallest population
sorted_population_2018_asc = sorted(population_2018)
sorted_bottom_ten_list = sorted_population_2018_asc[:10]
print("Countries with Largest Populations in 2018")
print("------------------------------------------------------")

for i in range(len(sorted_bottom_ten_list)):
    for j in range(len(population)):
        if sorted_bottom_ten_list[i] == population[j] and year[j] == 2018:
            print(f"The population of {country[j]} in 2018 was {sorted_bottom_ten_list[i]}.")

Countries with Largest Populations in 2018
------------------------------------------------------
The population of Seychelles in 2018 was 95200.
The population of Antigua and Barbuda in 2018 was 103000.
The population of Micronesia, Fed. Sts. in 2018 was 106000.
The population of Grenada in 2018 was 108000.
The population of Tonga in 2018 was 109000.
The population of St. Vincent and the Grenadines in 2018 was 110000.
The population of Kiribati in 2018 was 118000.
The population of St. Lucia in 2018 was 180000.
The population of Samoa in 2018 was 198000.
The population of Sao Tome and Principe in 2018 was 209000.

# Part 4: Identifying Countries with Highest and Lowest Life Expectancies
In this section I will identify and display the countries with the highest and lowest life expectancy.

In [9]:
# Print the first two lines of output
print("Countries with Highest Life Expectancy in 2018")
print("------------------------------------------------------")

# Use zip() to combine life_exp_2018 and country
life_exp_and_country = list(zip(life_exp_2018, country_2018))
life_exp_and_country_sorted = sorted(life_exp_and_country, reverse=True)

life_exp_top_10 = life_exp_and_country_sorted[:10]
# Print top 10 countries by life expectency
for i in life_exp_top_10:
    print(f"The life expectancy of {i[1]} in 2018 was {i[0]}.")

Countries with Highest Life Expectancy in 2018
------------------------------------------------------
The life expectancy of Japan in 2018 was 84.2.
The life expectancy of Singapore in 2018 was 84.0.
The life expectancy of Switzerland in 2018 was 83.5.
The life expectancy of Spain in 2018 was 83.2.
The life expectancy of Australia in 2018 was 82.9.
The life expectancy of Italy in 2018 was 82.6.
The life expectancy of Iceland in 2018 was 82.6.
The life expectancy of France in 2018 was 82.6.
The life expectancy of Sweden in 2018 was 82.4.
The life expectancy of Norway in 2018 was 82.4.

In [10]:
# Print the first two lines of output
print("Countries with Lowest Life Expectancy in 2018")
print("------------------------------------------------------")

# Create list of bottom 10
life_exp_bottom_10 = life_exp_and_country_sorted[-10:]

# Reverse the order for readability 
life_exp_bottom_10.reverse()

# Print bottom 10 countries by life expectency
for i in life_exp_bottom_10: 
    print(f"The life expectancy of {i[1]} in 2018 was {i[0]}.")

Countries with Lowest Life Expectancy in 2018
------------------------------------------------------
The life expectancy of Lesotho in 2018 was 51.1.
The life expectancy of Central African Republic in 2018 was 51.6.
The life expectancy of Somalia in 2018 was 58.0.
The life expectancy of Swaziland in 2018 was 58.6.
The life expectancy of Afghanistan in 2018 was 58.7.
The life expectancy of Zambia in 2018 was 59.5.
The life expectancy of Guinea-Bissau in 2018 was 59.7.
The life expectancy of Sierra Leone in 2018 was 60.0.
The life expectancy of Zimbabwe in 2018 was 60.2.
The life expectancy of Chad in 2018 was 60.5.

# Part 5: Calculating GDP by Country
I will create a list with the GDP of each country in 2018 separately, then calculate the World's total GDP and list the highest and lowest gdp countries.

In [11]:
# Create list of GDP in 2018 by country
gdp_2018 = []

# Use for loop to populate the list
for i in range(len(pcgdp)):
    if year[i] == 2018:
        gdp = pcgdp[i] * population[i]
        gdp_2018.append(gdp)
        
print(f"The total global GDP in 2018 was ${sum(gdp_2018)}.")

The total global GDP in 2018 was $118225647770000.

In [12]:
# Find the highest and lowest gdp countries.
highest_index = gdp_2018.index(max(gdp_2018))
lowest_index  = gdp_2018.index(min(gdp_2018))

# Print the country associated with the highest and lowest GDPs.
print(f"The country with the highest GDP in 2018 was {country_2018[highest_index]} with a GDP of {gdp_2018[highest_index]}.")
print(f"The country with the lowest GDP in 2018 was {country_2018[lowest_index]} with a GDP of {gdp_2018[lowest_index]}.")

The country with the highest GDP in 2018 was China with a GDP of 22720000000000.
The country with the lowest GDP in 2018 was Kiribati with a GDP of 223020000.

# Part 6: Grouping by Continent
In this section I will calculate the total population, per capita GDP, and life expectancy for each of the four continental regions in 2018

In [13]:
# Create a list of continents
continent_names = ['africa', 'americas', 'asia', 'europe']

# Create lists for totals by continent
pcgdp_2018_by_continent = []
pop_2018_by_continent = []
life_exp_2018_by_continent = []


# for loop
for i in range(len(continent_names)):
    temp_life_exp = 0
    temp_pop = 0
    temp_gdp = 0
    counter = 0
    for j in range(len(country_2018)):
        if continent_2018[j] == continent_names[i]:
            temp_life_exp += life_exp_2018[i]
            temp_pop += population_2018[i]
            temp_gdp += gdp_2018[i]
            counter += 1
    temp_life_exp /= counter
    temp_gdp = temp_gdp / temp_pop
    # Append continent totals
    pcgdp_2018_by_continent.append(round(temp_gdp))
    pop_2018_by_continent.append(temp_pop)
    life_exp_2018_by_continent.append(round(temp_life_exp, 1))
    
print("Continent      Population     pcGDP   Life Exp")
print("----------------------------------------------")
print(f"Africa {pop_2018_by_continent[0]:>18} {pcgdp_2018_by_continent[0]:>9} {life_exp_2018_by_continent[0]:>10}")
print(f"Americas {pop_2018_by_continent[1]:>16} {pcgdp_2018_by_continent[1]:>9} {life_exp_2018_by_continent[1]:>10}")
print(f"Asia {pop_2018_by_continent[2]:>20} {pcgdp_2018_by_continent[2]:>9} {life_exp_2018_by_continent[2]:>10}")
print(f"Europe {pop_2018_by_continent[3]:>18} {pcgdp_2018_by_continent[3]:>9} {life_exp_2018_by_continent[3]:>10}")

Continent      Population     pcGDP   Life Exp
----------------------------------------------
Africa         1965600000      1870       58.7
Americas         96690000     12400       78.0
Asia           2226000000     13700       77.9
Europe         1355200000      5850       65.2